* {
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans', sans-serif;
    background: url("../images/old_wall.png");
}
#area {
    width: 100%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.bg-light {
    background-color: #007bff!important;
}

h1 {
    font-family: 'Noto Serif KR', sans-serif;
    color: #ffffff;
    font-weight: 700;
    margin-left: 60px;
}

#searchBtn {
    background-color: #007bff;
}

#gifs {
    margin-top: 30px;
}

.form-group {
    margin-bottom: 1rem;
    margin-top: 40px;
}